.container {
  width: 700px;
  margin: auto;
  /* margin-top: 150px; */
  background-color: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px, 50px;
}

.container hr {
  height: 1px;
  border: none;
  background: #707070;
}

.container h1 {
  font-size: 60px;
  color: #553f9a;
  margin-left: 200px;
  font-weight: 500;
}

.container h2 {
  font-size: 27px;
  margin-left: 40px;
  font-weight: 500;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 9px;
  font-size: 20px;
}

.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  border: hidden;

  /* background: rgb(2,0,36); */

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background: #553f9a; */
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.container .index {
  margin: auto;
  font-size: 20px;
}

.container .correct {
  /* background: #dffff2; */
  /* background: hsl(163, 100%, 41%); */
  background-color: rgb(87, 178, 87);
  border-color: green;
}

.container .wrong {
  /* background: #ffebeb; */
  background-color: rgb(223, 85, 85);
  border-color: red;
}

/* **Responsive mobile version */

@media screen and (max-width: 600px) {
  .container {
    /* background-position: fixed; */
    height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  .container {
    background-position: fixed;
    height: 110vh;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 1008px) {
  .container {
    background-position: fixed;
    height: 110vh;
    background-attachment: fixed;
  }
}
